@{
    ViewBag.Title = "Conferma reimpostazione password";
}

<div>
    <p>
        Reimpostazione password completata.
        <a href="/Account/Login"
           data-ajax="true"
           data-ajax-success="onSuccessGet('Login', data)"
           data-ajax-begin="alertWaid()">Fare clic qui per eseguire l'accesso</a>
    </p>

</div>
