################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Sediin.PraticheRegionali/FileContentIndex
/.vs/Sediin.PraticheRegionali/v17
/Sediin.PraticheRegionali.WebUI/obj/Debug
/Sediin.PraticheRegionali.Utils/obj/Debug
/Sediin.PraticheRegionali.DOM/obj
/Sediin.MVC.Helper/obj/Debug
/Sediin.PraticheRegionali.WebUI/bin/Sediin.PraticheRegionali.WebUI.pdb
/Sediin.PraticheRegionali.WebUI/bin/Sediin.PraticheRegionali.WebUI.dll.CodeAnalysisLog.xml
/Sediin.PraticheRegionali.WebUI/bin/Sediin.PraticheRegionali.WebUI.dll
/Sediin.PraticheRegionali.WebUI/bin/Sediin.PraticheRegionali.Utils.pdb
/Sediin.PraticheRegionali.WebUI/bin/Sediin.PraticheRegionali.Utils.dll
/Sediin.PraticheRegionali.WebUI/bin/Sediin.PraticheRegionali.DOM.pdb
/Sediin.PraticheRegionali.WebUI/bin/Sediin.PraticheRegionali.DOM.dll
/Sediin.PraticheRegionali.WebUI/bin/Sediin.MVC.HtmlHelpers.pdb
/Sediin.PraticheRegionali.WebUI/bin/Sediin.MVC.HtmlHelpers.dll
/Sediin.MVC.Helper/bin/Debug
/Sediin.PraticheRegionali.Utils/bin/Debug
/Sediin.PraticheRegionali.DOM/bin/Debug
/Sediin.PraticheRegionali.DOMTests/bin/Debug
/Sediin.PraticheRegionali.DOMTests/obj/Debug
/Sediin.PraticheRegionali.UtilsTests/bin/Debug
/Sediin.PraticheRegionali.UtilsTests/obj/Debug
/Sediin.PraticheRegionali.WebUITests/bin/Debug
/Sediin.PraticheRegionali.WebUITests/obj/Debug
