################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Sediin.PraticheRegionali/FileContentIndex
/.vs/Sediin.PraticheRegionali/v17
