@model  Sediin.PraticheRegionali.WebUI.Areas.Admin.Models.ProvinceModel

<div class="row mb-4">
    <div class="col-md-12">
        @Ajax.EncodedAjaxActionLink("Nuova Provincia", "Nuovo", "Province", null, new AjaxOptions
                {
                OnBegin = "alertWaid()",
                OnSuccess = "showModalFullScreen_NoHeaderFooter(data); alertClose()",
                OnFailure = "handleError"
                }, new { @class = "btn btn-info" })
    </div>
</div>

@Html.RicercaModulo(Html.Partial("RicercaModulo", Model), "Ricerca Province")

@Html.UpdateListRicerca(Url.Action("Ricerca", "Province"), true)
