<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<connectionStrings>
		<add name="EBLIGDbContext" connectionString="data Source=.\;Initial Catalog=EBLIG;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>

</configuration>
