@using Sediin.PraticheRegionali.WebUI

<div class="row">

    @if (!User.IsInRole(IdentityHelper.Roles.Admin.ToString()) ||
         !User.IsInRole(IdentityHelper.Roles.Super.ToString()))
        {
            Html.RenderAction("AvvisoUtente", "Home");
        }

        @{ Html.RenderAction("HomeMenu", "Home"); }

    </div>
