<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="SediinPraticheRegionaliDbContext" connectionString="data Source=10.11.0.245\;Initial Catalog=EbinterMultiLoc;Integrated Security=false; user=sa; pwd=Pa$$t0sa2024!" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>